<apex:page standardController="Opportunity">
    <apex:outputField value="{!Opportunity.Name}"/>
    <apex:outputField value="{!Opportunity.Amount}"/>
	<apex:outputField value="{!Opportunity.CloseDate}"/>
	<apex:outputField value="{!Opportunity.Account.Name}"/>
</apex:page>