.THIS .tile {
    position:relative;
    display: inline-block;
    width: 150px;
    height: 180px;
    padding: 1px !important;
}

.THIS .selected {
    border: 3px solid rgb(0, 112, 210);
}

.THIS .innertile {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 180px;
}

.THIS .lower-third {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .4);
    padding: 6px 8px;
}